
.venv/
venv/
env/


__pycache__/
*.pyc
*.pyo
*.pyd
.Python


.idea/
*.iml
.vscode/
*.swp
*.swo


.DS_Store
Thumbs.db


coverage.xml
htmlcov/
.pytest_cache/
behave.log
rerun.txt


.env
config.local.ini
